{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "no-cond-assign": 2,
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "quotes": ["error", "single"]
  }
}
